/* ========== FONTS/VARIABLES/GLOBAL/BUTTON/PAGE-HEADER/MAIN/PAGE-FOOTER/MODAL ========== */

/* ===== FONTS ===== */

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2"),
	url("../fonts/gilroylight.woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff2"),
	url("../fonts/gilroyextrabold.woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensanslight.woff2"),
	url("../fonts/opensanslight.woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensans.woff2"),
	url("../fonts/opensans.woff");
	font-weight: 400;
	font-style: normal;
}

/* ===== VARIABLES ===== */

:root {
	--basic-black: #000000;
	--basic-dark: #363636;
	--basic-white: #ffffff;
	--basic-grey: #464646;
	--basic-half-grey: #7e7e7e;
	--basic-grey-light: #e5e5e5;
	--basic-white-smoke: #f2f2f2;
	--basic-red-light: #eaeaea;
	--basic-gainsboro: #dcdcdc;
	--basic-gray65: #a6a6a6;
	--basic-gray77: #c4c4c4;
	--basic-gray85: #d9d9d9;
	--basic-gray92: #ebebeb;

	--special-yellow: #f7e296;
	--special-green: #91c92f;
	--special-yellow-dark: #f0c52e;
	--special-red-grayish-light: #f6dada;
	--special-pure-yellow: #ffc600;

	--special-white-with-opacity: rgba(255, 255, 255, 0.3);
	--special-black-with-one-third-opacity: rgba(0, 0, 0, 0.3);
	--special-black-with-two-third-opacity: rgba(0, 0, 0, 0.6);
}


/* ===== GLOBAL ===== */

* {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;

	min-width: 1200px;
	min-height: 100%;
	margin: 0;
	padding: 40px 0 0;

	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;

	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.reset-h {
	margin: 0;
}

.reset-p {
	margin: 0;
}

.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.reset-fieldset {
	min-width: 0;
	margin: 0;
	padding: 0.01em 0 0 0;
	border: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* ===== BUTTON ===== */

.button {
	position: relative;
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;

	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.button-decor {
	border: 0;
	color: var(--basic-black);
	background-color: transparent;
	cursor: pointer;
}

.block-button {
	z-index: 1;
	display: block;
	width: 260px;
	padding: 9px 0;

	text-align: center;
}

.button::after {
	height: 8px;
	transition: all 0.2s ease-in-out;
}

.button::after {
	content: "";
	z-index: -1;
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;

	background-color: var(--special-yellow-dark);
}

.button:hover:after {
	transform: scaleY(5);
}

.button:focus {
	color: var(--special-black-with-one-third-opacity);
	background-color: var(--special-yellow-dark);
}

.filters .block-button,
.catalog .block-button {
	width: 200px;
}

/* =========== INDEX.HTML ========== */

/* =========== GRID =========== */

.page {
	height: 100%;
}

/* =========== PAGE-HEADER ========== */

/* ===== NAVIGATION ===== */

.navigation {
	position: relative;

	display: grid;
	grid-template-columns: 1fr;
	row-gap: 35px;

	width: 1160px;
	padding: 29px 60px 164px;

	background-color: var(--special-yellow);
}

/* ===== HEADER-LOGO ===== */

.header-logo {
	position: absolute;
	top: -20px;
	left: 60px;
	width: 163px;
	height: 35px;
}

.header-logo:hover {
	opacity: 0.6;
}

.header-logo:focus {
	opacity: 0.3;
}

/* ===== USER-MENU ===== */

.user-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 1040px;
}

/* ===== SEARCH ===== */

.search {
	position: relative;
	display: flex;
}

.search::before {
	content: "";
	position: absolute;
	top: 18px;
	left: 0;
	width: 16px;
	height: 16px;
	background-image: url("../img/icons/icon_search.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.search-field {
	width: 340px;
	padding: 15px 0 13px 38px;

	outline: 0;
	border: 0;

	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;

	color: var(--basic-black);
	background-color: transparent;
}

.search-field::placeholder {
	opacity: 0.3;
}

.search-field:hover::placeholder {
	opacity: 0.6;
}

.search-field:focus::placeholder {
	opacity: 1;
}

.search-field:focus {
	border-bottom: 2px solid var(--basic-black);
}

.search-button {
	visibility: hidden;
	width: 84px;
	height: 50px;

	border: 2px solid var(--basic-black);

	text-transform: uppercase;
	background-color: transparent;
}

.search-field:focus + .search-button {
	visibility: visible;
}

.search-button:hover {
	visibility: visible;
	color: var(--basic-white);
	background-color: var(--basic-black);
}

.search-button:focus {
	visibility: visible;
	color: var(--special-white-with-opacity);
}

/* ===== SITE-NAVIGATION/USER-NAVIGATION ===== */

.site-navigation {
	position: relative;
	display: flex;
	flex-wrap: wrap;

	width: 1040px;

	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;

	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.site-navigation li:last-child {
	margin-right: -4px;
}

.site-navigation-catalog {
	margin-right: 286px;
}

.site-navigation-delivery {
	margin-right: 34px;
}

.site-navigation-contacts {
	margin-left: auto;
}

.site-navigation-catalog > a {
	position: relative;
	padding-right: 35px;
}

.site-navigation-catalog > a::after {
	content: "";
	position: absolute;
	right: 0;
	width: 22px;
	height: 22px;
	background-image: url("../img/icons/icon_plus.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.site-navigation-catalog:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	z-index: 1;
	position: absolute;
	display: none;
	left: -60px;
	width: 1160px;
	padding: 30px 60px 42px;
	background-color: var(--special-yellow);
}

.dropdown-menu-wrapper {
	display: flex;
}

.site-navigation-dropdown {
	margin-right: 63px;

	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;

	letter-spacing: normal;
	text-transform: none;
}

.site-navigation-dropdown:last-child {
	margin-right: 0;
}

.site-navigation-dropdown li {
	margin-bottom: 16px;
}

.site-navigation-dropdown li:last-child {
	margin-bottom: 0;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap;

	width: 500px;
}

.user-navigation-item a {
	padding-top: 15px;
	padding-bottom: 15px;
}

.user-navigation-compare {
	margin-left: auto;
	margin-right: 43px;
}

.user-navigation-profile {
	margin-right: 20px;
}

.user-navigation-login a {
	position: relative;
	padding-left: 24px;
}

.user-navigation-profile a {
	position: relative;
	padding-left: 24px;
}

.user-navigation-compare a {
	position: relative;
	padding-left: 26px;
}

.user-navigation-cart a {
	position: relative;
	text-align: end;
	padding-left: 22px;
}

.user-navigation-login a::before {
	content: "";
	position: absolute;
	top: 20px;
	left: 0;
	width: 13px;
	height: 14px;
	background-image: url("../img/icons/icon_user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-navigation-profile a::before {
	content: "";
	position: absolute;
	top: 20px;
	left: 0;
	width: 13px;
	height: 14px;
	background-image: url("../img/icons/icon_user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-navigation-compare a::before {
	content: "";
	position: absolute;
	top: 20px;
	left: 0;
	width: 14px;
	height: 14px;
	background-image: url("../img/icons/icon_chart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-navigation-cart a::before {
	content: "";
	position: absolute;
	top: 20px;
	left: 0;
	width: 10px;
	height: 10px;
	background-image: url("../img/icons/icon_cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-navigation a,
.site-navigation a {
	color: var(--basic-black);
	display: block;
}

.user-navigation-logout a {
	color: var(--special-black-with-one-third-opacity);
}

.user-navigation a:hover {
	opacity: 0.6;
}

.user-navigation a:focus {
	opacity: 0.3;
}

.site-navigation a:hover {
	color: var(--special-black-with-two-third-opacity);
}

.site-navigation a:focus {
	color: var(--special-black-with-one-third-opacity)
}

/* ========== MAIN/SLIDER/POPULAR/SERVICE/COMPANY/ABOUT-US/CONTACTS ========== */

.container {
	/* position: relative; */
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

/* ========== SLIDER ========== */

.slider {
	position: relative;
	width: 1160px;
	margin-top: -130px;
	margin-bottom: 95px;
}

.slide {
	display: none;
}

.slider-current {
	display: block;
}

.slider-content {
	display: grid;
	grid-template-columns: 600px 1fr;
	grid-template-rows: 510px;
}

/* ===== IMAGE ===== */

.slider-image-wrapper {
}

.slider-item:nth-child(1) .slider-image-wrapper {
	height: 486px;
	margin-left: 89px;
}

.slider-item:nth-child(2) .slider-image-wrapper {
	height: 483px;
	margin-top: 27px;
	margin-left: 116px;
}

.slider-item:nth-child(3) .slider-image-wrapper {
	height: 334px;
	margin-top: 83px;
	margin-left: 30px;
}

/* ===== SLIDER-INFO ===== */

.slider-info {
	position: relative;
}

.slider-info::before {
	content: "";
	position: absolute;
	top: 35px;
	left: 0;
	width: 100px;
	height: 7px;
	background-color: var(--basic-white);
	background-repeat: no-repeat;
	background-position: 0 0;
}

/* ===== H3 ===== */

.slider-item h3 {
	margin-bottom: 26px;
	padding-top: 94px;

	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
}

.slider-item p {
	margin-bottom: 51px;
}

/* ===== SLIDER-NUMBER ===== */

.slider-number {
	position: absolute;
	top: -16px;
	right: 47px;

	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 179px;

	line-height: 219px;
	text-transform: uppercase;

	color: var(--basic-white);
}

/* ===== SLIDER-BUTTON ===== */

.slider-button {
	width: 220px;
}

/* ===== SLIDER-CONTROLS ===== */

.slider-controls {
	position: absolute;

	display: flex;

	bottom: 154px;
	right: 88px;
}

.slider-controls li {
	margin-right: 18px;
}

.slider-controls li:last-child {
	margin-right: 0;
}

.slider-control button {
	position: relative;
	width: 12px;
	height: 12px;
	padding: 0;

	border-radius: 50%;
	border: 1px solid var(--basic-black);

	background-color: transparent;
	cursor: pointer;
}

.slider-control-current button {
	box-shadow: inset 0 0 0 2px var(--basic-white),
	inset 0 0 0 3px var(--basic-black);
}

/* ===== SLIDER-SPECIFICATION ===== */

.slider-specification {
	display: grid;
	grid-auto-columns: max-content;
	grid-template-rows: 42px 15px;
	column-gap: 64px;
	row-gap: 15px;

	margin-top: 51px;

	font-family: "Gilroy", Arial, Helvetica, sans-serif;
}

.slider-specification dt {
	grid-row: 1 / 2;

	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.1em;
}

.slider-specification dd {
	margin: 0;

	font-size: 13px;
	line-height: 15px;

	letter-spacing: 0.1em;
}

/* ========== POPULAR ========== */

.popular {
	margin-bottom: 68px;
}

/* ===== POPULAR-LIST ===== */

.popular-list {
	display: grid;
	grid-template-columns: repeat(6, 160px);
	column-gap: 40px;
}

/* ===== POPULAR-ITEM ===== */

.popular-item a {
	position: relative;
	display: block;
	padding-top: 198px;
}

.popular-item:nth-child(1) a::before {
	content: "";
	z-index: 1;
	position: absolute;
	top: 51px;
	left: 31px;
	width: 97px;
	height: 55px;
	background-image: url("../img/popular/virtual_reality_helm.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.popular-item:nth-child(1) a::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background-color: var(--special-yellow);
	background-position: 0 0;
}

.popular-item:nth-child(2) a::before {
	content: "";
	z-index: 1;
	position: absolute;
	top: 25px;
	left: 37px;
	width: 86px;
	height: 117px;
	background-image: url("../img/popular/monopod_for_selfie.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.popular-item:nth-child(2) a::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background-color: var(--special-yellow);
	background-position: 0 0;
}

.popular-item:nth-child(3) a::before {
	content: "";
	z-index: 1;
	position: absolute;
	top: 35px;
	left: 44px;
	width: 71px;
	height: 87px;
	background-image: url("../img/popular/action_camera.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

}

.popular-item:nth-child(3) a::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background-color: var(--special-yellow);
	background-position: 0 0;
}

.popular-item:nth-child(4) a::before {
	content: "";
	z-index: 1;
	position: absolute;
	top: 47px;
	left: 27px;
	width: 107px;
	height: 65px;
	background-image: url("../img/popular/fitness_tracker.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.popular-item:nth-child(4) a::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background-color: var(--special-yellow);
	background-position: 0 0;

}

.popular-item:nth-child(5) a::before {
	content: "";
	z-index: 1;
	position: absolute;
	top: 30px;
	left: 52px;
	width: 56px;
	height: 98px;
	background-image: url("../img/popular/smart_watch.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

}

.popular-item:nth-child(5) a::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background-color: var(--special-yellow);
	background-position: 0 0;

}

.popular-item:nth-child(6) a::before {
	content: "";
	z-index: 1;
	position: absolute;
	top: 45px;
	left: 14px;
	width: 132px;
	height: 69px;
	background-image: url("../img/popular/quadcopter.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

}

.popular-item:nth-child(6) a::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background-color: var(--special-yellow);
	background-position: 0 0;
}

.popular-item h3 {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;

	letter-spacing: 0.05em;

	color: var(--basic-black);
}

.popular-item:nth-child(4) h3 {
	letter-spacing: normal;
}

.popular-item a:hover::after {
	background-color: var(--special-yellow-dark);
}

.popular-item a:focus::before {
	opacity: 0.3;
}

.popular-item a:focus {
	color: var(--special-black-with-one-third-opacity);
}


/* ========== SERVICE ========== */

.service {
	margin-bottom: 90px;
	padding-bottom: 68px;

	background-image: linear-gradient(to bottom, var(--basic-white) 115px, var(--basic-grey-light) 115px);
}

/* ===== SERVICE-WRAPPER ===== */

.service-wrapper {
	display: grid;
	grid-template-columns: 280px 880px;
	align-items: flex-start;
}

/* ===== SERVICE-SLIDE ===== */

.service-slide {
	position: relative;
	display: none;
	padding: 86px 180px 61px 120px;
}

.service-slide-current {
	display: block;
}

.service-slide-delivery::after {
	content: "";
	position: absolute;
	top: 86px;
	right: -18px;
	width: 136px;
	height: 164px;
	background-image: url("../img/services/delivery.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.service-slide-warranty::after {
	content: "";
	position: absolute;
	top: 68px;
	right: -16px;
	width: 171px;
	height: 195px;
	background-image: url("../img/services/warranty.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.service-slide-credit::after {
	content: "";
	position: absolute;
	top: 63px;
	right: 8px;
	width: 156px;
	height: 188px;
	background-image: url("../img/services/credit.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.service-slide h3 {
	margin-bottom: 40px;
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;

	letter-spacing: 0.2em;
}

.service-slide p {
	line-height: 30px;

	letter-spacing: 0.1em;
}

/* ===== SERVICE-BUTTON ===== */

.service-list {
	position: relative;
	padding-top: 95px;
}

.service-list::after {
	content: "";
	position: absolute;
	top: 15px;
	right: -4px;
	width: 7px;
	height: 320px;
	background-color: var(--basic-black);
}

.service-list li {
	margin-bottom: 21px;
}

.service-list li:last-child {
	margin-bottom: 0;
}

.service-button {
	width: 160px;
}

.service-button-current::after {
	display: none;
}

.service-button-current:focus {
	display: none;
}

.service-button-current {
	width: 280px;
	padding-right: 117px;
	color: var(--special-yellow);
	background-color: var(--basic-black);
	cursor: default;
}

/* ========== COMPANY ========== */

.company {
	margin-bottom: 90px;
}

/* ====== COMPANY-LIST ===== */

.company-list {
	display: grid;
	grid-template-columns: repeat(4, 260px);
	column-gap: 40px;
}

/* ===== COMAPANY-LINK ===== */

.company-link {
	display: block;
}

.company-link img {
	filter: grayscale(100%) opacity(0.2);
}

.company-link:hover img {
	filter: grayscale(0) opacity(1);
}

/* ========== INDEX-COLUMNS ========= */

.index-columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 77px;
}

/* ========== ABOUT-US ========== */

.about-us {
	position: relative;
	width: 473px;
}

.about-us::before {
	content: "";
	position: absolute;
	top: -4px;
	left: 0;
	width: 80px;
	height: 7px;
	background-color: var(--basic-black);
}

.about-us h2 {
	margin-top: 53px;
	margin-bottom: 40px;
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;

	letter-spacing: 0.2em;
}

.about-us p {
	margin-bottom: 40px;
	line-height: 28px;
}

.about-us p + p {
	margin-bottom: 60px;
}

/* ===== ABOUT-US-LIST ====== */

.about-us-list {
	margin-bottom: 69px;
	padding-left: 32px;
}

.about-us-list li {
	position: relative;

	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 28px;
}

.about-us-list li::before {
	content: "";
	position: absolute;
	top: 11px;
	left: -32px;
	width: 8px;
	height: 8px;
	border: 2px solid var(--basic-grey-light);
	border-radius: 50%;
	box-sizing: border-box;
}

.about-us-list li {
	margin-bottom: 14px;
}

.about-us-list li:first-child {
	margin-bottom: 15px;
}

/* ========== CONTACTS ========== */

.contacts {
	position: relative;
	width: 560px;
}

.contacts::before {
	content: "";
	position: absolute;
	top: -4px;
	left: 0;
	width: 80px;
	height: 7px;
	background-color: var(--basic-black);
}

.contacts h2 {
	margin-top: 53px;
	margin-bottom: 40px;
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;

	letter-spacing: 0.2em;
}

.contacts p {
	margin-bottom: 40px;
	line-height: 28px;
}

.contacts-map {
	display: block;
	height: 222px;
	margin-bottom: 76px;
	cursor: pointer;
}

.contacts-map img {
	width: 560px;
	height: 222px;
}

/* ========== PAGE-FOOTER ========== */

.page-footer {
	background-color: var(--basic-dark);
}

.page-footer .container {
	display: grid;
	grid-template-areas:
	"contacts	user		user"
	"contacts site		phone"
	"contacts	socials	link";
	grid-template-columns: 325px 1fr 325px;

	padding-top: 46px;
	padding-bottom: 65px;
}

/* ===== FOOTER-CONTACTS ===== */

.footer-contacts {
	position: relative;

	grid-area: contacts;
	justify-self: start;

	color: var(--basic-white);
}

.footer-contacts:after {
	content: "";
	position: absolute;
	bottom: 23px;
	width: 80px;
	height: 7px;
	background-color: var(--special-pure-yellow);
}

/* ===== FOOTER-LOGO ===== */

.footer-logo {
	display: block;
	width: 163px;
	height: 35px;
	margin-top: 18px;
	margin-bottom: 40px;
	cursor: pointer;
}

.footer-logo:hover {
	opacity: 0.6;
}

.footer-logo:focus {
	opacity: 0.3;
}

/* ===== FOOTER-SITE-NAVIGATION ===== */

.footer-navigation {
	grid-area: site;
	justify-self: center;
}

.footer-site-navigation {
	display: flex;
	flex-wrap: wrap;
}

.footer-site-navigation li {
	margin-right: 33px;
}

.footer-site-navigation li:last-child {
	margin-right: -4px;
}

.footer-site-navigation a {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;

	letter-spacing: 0.2em;
	text-transform: uppercase;

	color: var(--basic-white);
	opacity: 0.7;
}

.footer-site-navigation a:hover {
	opacity: 0.6;
}

.footer-site-navigation a:focus {
	opacity: 0.3;
}

/* ===== FOOTER-SOCIAL-LIST ===== */

.footer-social {
	grid-area: socials;
	justify-self: center;
}

.footer-social-list {
	display: flex;
	flex-wrap: wrap;
}

.footer-social-list li {
	margin-right: 20px;
	padding-bottom: 10px;
}

.footer-social-list li:last-child {
	margin-right: 0;
}

.footer-social-list a {
	color: var(--basic-white);
	opacity: 0.3;
}

.footer-social-list a:hover {
	opacity: 0.7;
}

.footer-social-list a:focus {
	opacity: 0.1;
}

.social-button {
	display: block;
	width: 32px;
	height: 32px;
}

.social-button-facebook {
	background-image: url("../img/socials/logo_facebook.svg");
}

.social-button-instagram {
	background-image: url("../img/socials/logo_instagram.svg");
}

.social-button-twitter {
	background-image: url("../img/socials/logo_twitter.svg");
}

/* ===== FOOTER-ACCOUNT-NAVIGATION ===== */

.footer-user {
	grid-area: user;
	justify-self: end;
	margin-bottom: 73px;
}

.footer-user-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.footer-user-navigation-login {
	margin-right: 41px;
}

.footer-user-navigation-profile {
	margin-right: 24px;
}

.footer-user-navigation-logout {
	margin-right: 39px;
}

.footer-user-navigation-compare {
	margin-right: 42px;
}

.footer-user-navigation a {
	display: block;
}

.footer-user-navigation-login a {
	position: relative;
	padding-left: 25px;
}

.footer-user-navigation-profile a {
	position: relative;
	padding-left: 24px;
}

.footer-user-navigation-logout a {
	position: relative;
}

.footer-user-navigation-compare a {
	position: relative;
	padding-left: 25px;
}

.footer-user-navigation-cart a {
	position: relative;
	padding-left: 22px;
}

.footer-user-navigation-login a::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 13px;
	height: 14px;
	background-image: url("../img/icons/icon_user_footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-user-navigation-profile a::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 13px;
	height: 14px;
	background-image: url("../img/icons/icon_user_footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-user-navigation-compare a::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 14px;
	height: 14px;
	background-image: url("../img/icons/icon_chart_footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-user-navigation-cart a::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 13px;
	height: 14px;
	background-image: url("../img/icons/icon_cart_footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}


.footer-user-navigation a {
	color: var(--basic-white);
	opacity: 0.7;
}

.footer-user-navigation a:hover {
	opacity: 1;
}

.footer-user-navigation a:focus {
	opacity: 0.3;
}

/* ===== FOOTER-PHONE ===== */

.footer-phone {
	grid-area: phone;
	justify-self: end;

	margin-bottom: 68px;

	color: var(--basic-white);
}

.footer-phone a {
	color: inherit;
}

/* ===== FOOTER-LINK ===== */

.footer-link {
	grid-area: link;
	justify-self: end;
}

.footer-link:hover {
	opacity: 0.6;
}

.footer-link:focus {
	opacity: 0.3;
}

/* ========== MODAL ========== */

.modal {
	z-index: 1;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background-color: var(--basic-white);
}

/* ===== MODAL-WRITE-US ===== */

.modal-write-us {
	display: none;
	top: 240px;
	bottom: auto;
	width: 960px;
	padding: 92px 100px 69px;

	box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
}

.modal-write-us form {
	display: grid;
	grid-template-areas:
	"name email"
	"textarea textarea"
	"button button";
	grid-template-columns: 360px 360px;
	column-gap: 40px;
}

.modal-name {
	grid-area: name;
	width: 360px;
	height: 82px;
}

.modal-email {
	grid-area: email;
	width: 360px;
	height: 82px;
}

.modal-text {
	grid-area: textarea;
	width: 760px;
	height: 199px;
	margin-top: 32px;
	margin-bottom: 36px;
}

.modal-submit {
	grid-area: button;
	justify-self: start;
}

.modal-name label {
	display: block;
	margin-bottom: 10px;
}

.modal-email label {
	display: block;
	margin-bottom: 10px;
}

.modal-text label {
	display: block;
	margin-bottom: 10px;
}

.modal-name input {
	display: block;
	box-sizing: border-box;

	width: 360px;
	height: 50px;
	padding: 16px 20px 15px;
}

.modal-email input {
	display: block;
	box-sizing: border-box;

	width: 360px;
	height: 50px;
	padding: 16px 20px 15px;
}

.modal-text textarea {
	display: block;
	box-sizing: border-box;

	width: 760px;
	height: 167px;
	padding: 16px 20px;
}

.modal-write-us input::placeholder,
.modal-write-us textarea::placeholder {
	font-size: 14px;
	line-height: 19px;

	color: var(--basic-black);
	opacity: 0.4;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea {
	border: none;
	outline: none;
	background-color: var(--basic-white-smoke);
}

.modal-write-us input[type="text"]:hover,
.modal-write-us input[type="email"]:hover,
.modal-write-us textarea:hover {
	background-color: var(--basic-red-light);
}

.modal-write-us input[type="text"]:focus,
.modal-write-us input[type="email"]:focus,
.modal-write-us textarea:focus {
	border: 2px solid var(--special-yellow);

	background-color: transparent;
	opacity: 1;
}

.modal-write-us input[type="text"]:invalid,
.modal-write-us input[type="email"]:invalid {
	background-color: var(--special-red-grayish-light);
	opacity: 0.4;
}

.modal-name label,
.modal-email label,
.modal-text label {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
}

.modal-close {
	width: 55px;
	height: 55px;

	border: none;
	border-radius: 50%;

	color: var(--basic-white);
	background-color: var(--special-yellow-dark);
	background-image: url("../img/icons/icon_cross.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0.5;

	cursor: pointer;
}

.modal-write-us .modal-close {
	position: absolute;
	top: 20px;
	right: 20px;
}

.modal-map .modal-close {
	position: absolute;
	top: 29px;
	right: 29px;
}

.modal-close:hover {
	opacity: 1;
}

.modal-close:focus {
	opacity: 0.3;
}

/* ===== MODAL-MAP ===== */

.modal-map {
	display: none;
	width: 960px;
	height: 573px;
}

.modal-map img {
	display: block;
}

.modal iframe {
	border: 0;
}

/* ===== MODAL-SHOW ===== */

.modal-show {
	display: block;
	animation: bounce 0.6s;
}

.modal-error {
	animation: shake 0.6s;
}

/* ========== CATALOG.HTML ========== */

.user-link-profile {
	padding-right: 20px;
}

.inner-page .page-header {
	margin-bottom: 44px;
}

.inner-page .navigation {
	padding-bottom: 50px;
}

.catalog-header-container {
	margin-bottom: 50px;
	padding-left: 80px;
	padding-right: 80px;
}

.page-catalog .content-container {
	display: grid;
	grid-template-areas:
	"filter sort"
	"filter catalog";
	grid-template-columns: 328px 1fr;
}

/* ========== BREADCRUMBS/FILTERS/SORT/CATALOG ==========*/

.page-title {
	grid-area: title;

	margin-bottom: 30px;

	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
}

/* ========== BREADCRUMBS ========== */

.breadcrumbs {
	grid-area: breadcrumbs;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	font-size: 14px;
	line-height: 19px;

}

.breadcrumbs li {
	position: relative;
	margin-right: 40px;
}

.breadcrumbs li:last-child {
	margin-right: 0;
}

.breadcrumbs li::after {
	content: "";
	position: absolute;
	top: 3px;
	right: -26px;
	width: 12px;
	height: 12px;
	background-image: url("../img/icons/icon_arrow_nav.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs li:last-child::after {
	display: none;
}

.breadcrumbs a {
	color: var(--basic-black);
	opacity: 0.3;
}

.breadcrumbs a:hover {
	opacity: 0.6;
}

.breadcrumbs a:focus {
	opacity: 0.1;
}

.breadcrumbs-current a:hover,
.breadcrumbs-current a:focus {
	opacity: 0.3;
	cursor: default;
}

/* ========== FILTERS ========== */

.filters {
	position: relative;
	grid-area: filter;
	background-image: linear-gradient(to bottom, var(--basic-gainsboro) 70px, var(--basic-grey-light) 70px);
}

.filters::before {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	right: 328px;
	width: calc((100vw - 1177px) / 2);
	height: 100%;
	background-image: linear-gradient(to bottom, var(--basic-gainsboro) 70px, var(--basic-grey-light) 70px);
}

.filters h2 {
	padding: 25px 60px;

	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;

	letter-spacing: 0.1em;
	text-transform: uppercase;
}

/* ===== FILTER ===== */

.filter {
	display: grid;
	grid-template-columns: 200px;
	justify-content: center;

	margin-top: 70px;
	margin-right: 8px;
}

.filter fieldset {
	position: relative;
}

.filter fieldset::before {
	content: "";
	position: absolute;
	top: -63px;
	width: 200px;
	height: 2px;
	background-color: var(--basic-black);
}

.filter legend {
	padding-top: 16px;
	padding-bottom: 30px;
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;

	letter-spacing: 0.1em;
}

.filter-option {
	font-size: 14px;
	line-height: 19px;
}

.filter-price {
	margin-bottom: 38px;
}

.range-filter {
	width: 200px;
	height: 44px;
}

.range-controls {
	position: relative;
	padding-top: 9px;
}

.range-controls .scale {
	height: 2px;
	background-color: var(--basic-black);
	opacity: 0.2;
}

.range-controls .bar {
	height: 2px;
	width: 60%;
	background-color: var(--special-green);
}

.range-controls .toggle {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	padding: 0;
	border-radius: 50%;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
	border: 8px solid var(--basic-white);
	background-color: var(--basic-gray77);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 0;
}

.range-controls .toggle-max {
	left: 115px;
}

.price-controls {
	position: absolute;
	width: 90px;
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
}

.price-controls input {
	width: 60px;
	border: 0;

	font-family: inherit;
	font-size: inherit;
	line-height: inherit;

	background-color: transparent;
}

.min-price {
	top: 19px;
	left: -9px;
}

.max-price {
	top: 19px;
	left: -27px;
}

.filter-color {
	display: flex;
	margin-bottom: 37px;
}

.filter-color .filter-option {
	margin-bottom: 15px;
	padding-left: 42px;
}

.filter-color .filter-option:last-child {
	margin-bottom: 0;
}

.filter-input-checkbox + label {
	/*	display: flex;
		align-items: center;*/
	position: relative;
	display: block;
	padding-top: 3px;
	padding-bottom: 2px;
	cursor: pointer;
	user-select: none;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -42px;
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid var(--basic-black);
	background-color: transparent;
}

.filter-input-checkbox:checked + label::before {
	background-image: url("../img/icons/icon_check_mark.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.filter-input-checkbox:not(:disabled):hover + label::before {
	opacity: 0.6;
}

.filter-input-checkbox:not(:disabled):focus + label {
	opacity: 0.6;
}

.filter-input-checkbox:not(:disabled):focus + label::before {
	opacity: 0.6;
}

.filter-input-checkbox:disabled + label::before {
	opacity: 0.25;
}

.filter-input-checkbox:disabled + label {
	color: var(--basic-gray65);
}

.filter-bluetooth {
	display: flex;
	margin-bottom: 41px;
}

.filter-bluetooth .filter-option {
	margin-bottom: 16px;
	padding-left: 40px;
}

.filter-bluetooth .filter-option:last-child {
	margin-bottom: 0;
}

.filter-input-radio + label {
	position: relative;
	display: block;
	padding-top: 3px;
	padding-bottom: 2px;
	cursor: pointer;
	user-select: none;
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	top: 0;
	left: -40px;
	width: 20px;
	height: 20px;
	border: 2px solid var(--basic-black);
	border-radius: 50%;
}

.filter-input-radio:checked + label::before {
	background-image: url("../img/icons/icon_radio_check_mark.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


.filter-input-radio:not(:disabled):hover + label::before {
	opacity: 0.6;
}

.filter-input-radio:not(:disabled):focus + label {
	opacity: 0.6;
}

.filter-input-radio:not(:disabled):focus + label::before {
	opacity: 0.6;
}

.filter-input-radio:disabled + label::before {
	opacity: 0.25;
}

.filter-input-radio:disabled + label {
	opacity: 0.25;
}

/* ========== SORT ========== */

.sort {
	position: relative;
	width: 832px;
	margin-bottom: 69px;
	display: flex;

	grid-area: sort;
	background-color: var(--basic-grey-light);
}

.sort::before {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	left: 832px;
	width: calc((100vw - 1177px) / 2);
	height: 100%;
	background-color: var(--basic-grey-light);
}

.sort h2 {
	max-width: 272px;
	padding: 25px 74px 25px 72px;

	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;

	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.sort-list {
	display: flex;
	flex-wrap: wrap;

	margin-right: auto;

	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
}

.sort-list li {
	margin-right: 30px;
	padding-top: 25px;
	padding-bottom: 26px;
}

.sort-list:last-child {
	margin-right: 0;
}

.sort-list a {
	color: var(--basic-black);
	opacity: 0.3;
}

.sort-list a:hover {
	opacity: 0.6;
}

.sort-list a:focus {
	opacity: 1;
}

.sort-item-current a,
.sort-item-current a:hover,
.sort-item-current a:focus {
	opacity: 1;
	cursor: default;
}

/* ===== SORT-BUTTONS ===== */

.sort-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 52px;
}

.sort-buttons li {
	padding-top: 26px;
	padding-bottom: 26px;
}

.sort-button-up::after {
	content: "";
	display: block;
	left: 0;
	width: 18px;
	height: 18px;
	background-image: url("../img/icons/icon-up-dir.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.2;
}

.sort-button-down:after {
	content: "";
	display: block;
	left: 0;
	width: 18px;
	height: 18px;
	background-image: url("../img/icons/icon-down-dir.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.sort-button-up:hover::after,
.sort-button-down:hover::after {
	opacity: 0.4;
}

.sort-button-up:focus::after,
.sort-button-down:focus::after {
	opacity: 1;
}

/* ========== CATALOG ========== */

.catalog {
	grid-area: catalog;

	padding-left: 72px;
}

.catalog-list {
	display: grid;
	grid-template-columns: 361px 361px;
	column-gap: 39px;
	row-gap: 48px;

	margin-bottom: 40px;
}

.catalog-item .product {
	display: grid;
	grid-template-areas:
	"image image"
	"title price";
	row-gap: 30px;
	justify-content: space-between;
	align-items: baseline;
}

.catalog-item h3 {
	grid-area: title;

	width: 270px;

	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;

	letter-spacing: 0.05em;
}

.catalog-image-wrapper {
	position: relative;
	grid-area: image;

	width: 360px;
	height: 381px;
}

.catalog-image-wrapper::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.new-product::after {
	content: "new";
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 28px;
	right: 27px;
	width: 62px;
	height: 62px;
	border: 2px solid var(--special-black-with-one-third-opacity);
	border-radius: 50%;
	box-sizing: border-box;

	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;

	color: var(--special-black-with-one-third-opacity);
}

.catalog-image-wrapper:hover::before {
	background-color: var(--basic-white);
	opacity: 0.7;
}

.catalog-item .button {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	opacity: 0;
}

.catalog-item .compare-button {
	position: absolute;

	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 0;

	font-size: 13px;
	line-height: 18px;

	letter-spacing: 0.1em;

	background-color: transparent;
	opacity: 0;
}

.catalog-image-wrapper:hover .compare-button {
	opacity: 0.5;
}

.catalog-image-wrapper:hover .button {
	opacity: 1;
}

.catalog-item .compare-button:hover {
	opacity: 1;
}

.catalog-item .compare-button:focus {
	opacity: 0.2;
}

.catalog-item p {
	grid-area: price;

	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 18px;

	letter-spacing: 0.05em;
	text-align: end;
}

/* ===== PAGINATION-LIST ===== */

.pagination-list {
	display: flex;
	justify-content: space-between;

	margin-bottom: 78px;

	background-color: var(--basic-gray92);
}

.pagination-list a {
	display: block;

	color: var(--basic-black);
	opacity: 0.3;
}

.pagination-item-previous a {
	width: 120px;
	padding: 25px 24px 25px 30px;
	opacity: 1;
}

.pagination-item-next a {
	width: 120px;
	padding: 25px 30px 25px 24px;
	opacity: 1;
}

.pagination-list-numbers a {
	padding: 25px 15px;
}

.pagination-list-numbers {
	display: flex;
	justify-content: space-between;
}

.pagination-item {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 16px;

	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.pagination-item-previous a:hover {
	background-color: var(--basic-gray85);
}

.pagination-item-previous a:focus {
	background-color: var(--basic-gray85);
}

.pagination-item-previous a:focus {
	opacity: 0.3;
}

.pagination-item-number a:hover {
	opacity: 0.6;
}

.pagination-item-number a:focus {
	opacity: 1;
}

.pagination-item-disabled {
	pointer-events: none;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
	opacity: 1;
	cursor: default;
}

.pagination-item-next a:hover {
	background-color: var(--basic-gray85);
}

.pagination-item-next a:focus {
	background-color: var(--basic-gray85);
	opacity: 0.3;
}


/* ========== ANIMATIONS ========== */

@keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}

	70% {
		transform: translateY(30px);
	}

	90% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}
