/* ========== FONTS/VARIABLES/GLOBAL/BUTTON/PAGE-HEADER/MAIN/PAGE-FOOTER/MODAL ========== */

/* ===== FONTS ===== */

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroylight.woff2"),
    url("../fonts/gilroylight.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroyextrabold.woff2"),
    url("../fonts/gilroyextrabold.woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensanslight.woff2"),
    url("../fonts/opensanslight.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff2"),
    url("../fonts/opensans.woff");
  font-weight: 400;
  font-style: normal;
}

/* ===== VARIABLES ===== */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
	--basic-white-smoke: #f2f2f2;
	--basic-red-light: #eaeaea;
	--basic-gainsboro: #dcdcdc;
	--basic-gray85: #d9d9d9;
	--basic-gray92: #ebebeb;

  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
	--special-red-grayish-light: #f6dada;
}



/* ===== GLOBAL ===== */

body {
	min-width: 960px;
	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;

	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.reset-h {
	margin: 0;
}

.reset-p {
	margin: 0;
}

.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.reset-fieldset {
	border: 0;
	padding: 0.01em 0 0 0;
	margin: 0;
	min-width: 0;
}

/* ===== BUTTON ===== */

.button {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;

	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.button-decor {
	border: 0;
	color: var(--basic-black);
	background-color: transparent;
}

/* =========== INDEX.HTML ========== */

/* =========== PAGE-HEADER ========== */

/* ===== NAVIGATION ===== */

.navigation {
	background-color: var(--special-yellow);
}

/* ===== HEADER-LOGO ===== */

.header-logo:hover {
	opacity: 0.6;
}

.header-logo:focus {
	opacity: 0.3;
}

/* ===== SEARCH ===== */

.search input {
	outline: none;
	color: var(--basic-black);
	background-color: transparent;
	border: none;
}

.search input::placeholder {
	opacity: 0.3;
}

.search input:hover::placeholder {
	opacity: 0.6;
}

.search input:focus::placeholder {
	opacity: 1;
}

.search button {
	text-transform: uppercase;
	background-color: transparent;
}

.search button:hover {
	color: var(--basic-white);
	background-color: var(--basic-black);
}

.search button:focus {
	color: rgba(255, 255, 255, 0.3);
}

/* ===== SITE-NAVIGATION/USER-NAVIGATION ===== */

.site-navigation {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;

	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.site-navigation-dropdown {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;

	letter-spacing: normal;
	text-transform: none;
}

.user-navigation a,
.site-navigation a {
	color: var(--basic-black);
}

.user-navigation a:hover,
.site-navigation a:hover {
	opacity: 0.6;
}

.user-navigation a:focus,
.site-navigation a:focus {
	opacity: 0.3;
}

/* ========== MAIN/SLIDER/POPULAR/SERVICE/COMPANY/ABOUT-US/CONTACTS ========== */

/* ========== SLIDER ========== */

/* ===== H3 ===== */

.slider-item h3 {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
}

/* ===== SLIDER-NUMBER ===== */

.slider-number {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 179px;
	line-height: 219px;
	text-transform: uppercase;
	/* color: var(--basic-white); */
}

/* ===== SLIDER-SPECIFICATION ===== */

.slider-specification {
	letter-spacing: 0.1em;
}

.slider-specification dt {
	font-size: 36px;
	line-height: 42px;
}

.slider-specification dd {
	font-size: 13px;
	line-height: 15px;
	margin: 0;
}

/* ========== POPULAR ========== */

/* ===== POPULAR-ITEM ===== */

.popular-item a {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;

	letter-spacing: 0.05em;

	color: var(--basic-black);
}

.popular-item a:focus {
	opacity: 0.3;
}


/* ========== SERVICE ========== */

.service {
	background-color:  var(--basic-grey-light);
}

/* ===== SERVICE-SLIDE ===== */

.service-slide h3 {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;

	letter-spacing: 0.2em;
}

.service-slide p {
	line-height: 30px;

	letter-spacing: 0.1em;
}

/* ===== SERVICE-BUTTON ===== */

.service-button:focus {
	color: var(--special-yellow);
	background-color: var(--basic-black);
}

/* ========== COMPANY ========== */

/* ========== ABOUT-US ========== */

.about-us h2 {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;

	letter-spacing: 0.2em;
}

.about-us p {
	line-height: 28px;
}

/* ===== ABOUT-US-LIST ====== */

.about-us-list li {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 28px;
}

/* ========== CONTACTS ========== */

.contacts h2 {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;

	letter-spacing: 0.2em;
}

.contacts p {
	line-height: 28px;
}

/* ========== PAGE-FOOTER ========== */

.page-footer {
	background-color: var(--basic-dark);
}

/* ===== FOOTER-CONTACTS ===== */

.footer-contacts {
	color: var(--basic-white);
}

/* ===== FOOTER-LOGO ===== */

.footer-logo:hover {
	opacity: 0.6;
}

.footer-logo:focus {
	opacity: 0.3;
}

/* ===== FOOTER-SITE-NAVIGATION ===== */

.footer-site-navigation a {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;

	color: var(--basic-white);
	opacity: 0.7;
}

.footer-site-navigation a:hover {
	opacity: 0.6;
}

.footer-site-navigation a:focus {
	opacity: 0.3;
}

/* ===== FOOTER-SOCIAL-LIST ===== */

.footer-social-list a {
	color: var(--basic-white);
	opacity: 0.3;
}

.footer-social-list a:hover {
	opacity: 0.7;
}

.footer-social-list a:focus {
	opacity: 0.1;
}

/* ===== FOOTER-ACCOUNT-NAVIGATION ===== */

.footer-account-navigation a {
	color: var(--basic-white);
	opacity: 0.7;
}

.footer-account-navigation a:hover {
	opacity: 1;
}

.footer-account-navigation a:focus {
	opacity: 0.3;
}

/* ===== FOOTER-PHONE ===== */

.footer-phone {
	color: var(--basic-white);
}

.footer-phone a {
	color: inherit;
}

/* ===== FOOTER-LINK ===== */

.footer-link:hover {
	opacity: 0.6;
}

.footer-link:focus {
	opacity: 0.3;
}

/* ========== MODAL ========== */

/* ===== MODAL-WRITE-US ===== */

.modal-write-us {
	background-color: var(--basic-white);
}

.modal-write-us input::placeholder,
.modal-write-us textarea::placeholder {
	font-size: 14px;
	line-height: 19px;

	color: var(--basic-black);
	opacity: 0.4;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea {
	outline: none;
	background-color: var(--basic-white-smoke);
	border: none;
}

.modal-write-us input[type="text"]:hover,
.modal-write-us input[type="email"]:hover,
.modal-write-us textarea:hover {
  background-color: var(--basic-red-light);
}

.modal-write-us input[type="text"]:focus,
.modal-write-us input[type="email"]:focus,
.modal-write-us textarea:focus {
  opacity: 1;
  background-color: transparent;
  border: 2px solid var(--special-yellow);
}

.modal-write-us input[type="text"]:invalid,
.modal-write-us input[type="email"]:invalid {
  opacity: 0.4;
  background-color: var(--special-red-grayish-light);
}

.modal-name label,
.modal-email label,
.modal-text label {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.modal-close {
	opacity: 0.5;
  color: var(--basic-white);
  background-color: var(--special-yellow-dark);
  border: none;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:focus {
  opacity: 0.3;
}

/* ========== CATALOG.HTML ========== */

/* ========== BREADCRUMBS/FILTERS/SORT/CATALOG ==========*/

.page-title {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
}

/* ========== BREADCRUMBS ========== */

.breadcrumbs {
	font-size: 14px;
	line-height: 19px;
}

.breadcrumbs a {
	color: var(--basic-black);
	opacity: 0.3;
}

.breadcrumbs a:hover {
	opacity: 0.6;
}

.breadcrumbs a:focus {
	opacity: 0.1;
}

/* ========== FILTERS ========== */

.filters h2 {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;

	letter-spacing: 0.1em;
	text-transform: uppercase;

	background-color: var(--basic-gainsboro);
}

/* ===== FILTER ===== */

.filter {
	background-color: var(--basic-grey-light);
}

.filter legend {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;

	letter-spacing: 0.1em;
}

.filter-option {
	font-size: 14px;
	line-height: 19px;
}

/* ========== SORT ========== */

.sort {
	background-color: var(--basic-grey-light);
}

.sort h2 {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;

	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.sort-list {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
}

.sort-list a {
	color: var(--basic-black);
	opacity: 0.3;
}

.sort-list a:hover {
	opacity: 0.6;
}

.sort-list a:focus {
	opacity: 1;
}

/* ===== SORT-BUTTONS ===== */

.sort-button {
	border: 0;
}

.sort-button-up div {
	width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
	background-color: var(--basic-black);
	opacity: 0.2;
}

.sort-button-down {
	background-color: var(--basic-black);
}

.sort-button-up:hover,
.sort-button-down:hover {
	opacity: 0.4;
}

.sort-button-up:focus,
.sort-button-down:focus {
	opacity: 1;
}

/* ========== CATALOG ========== */

.catalog-item h3 {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;

	letter-spacing: 0.05em;
}

.catalog-item .compare-button {
	font-size: 13px;
	line-height: 18px;

	letter-spacing: 0.1em;

	border: 0;
	background-color: transparent;
	opacity: 0.5;
}

.catalog-item .compare-button:hover {
	opacity: 1;
}

.catalog-item .compare-button:focus {
	opacity: 0.2;
}

.catalog-item p {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 18px;

	letter-spacing: 0.05em;
}

/* ===== PAGINATION-LIST ===== */

.pagination-list {
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 16px;

	letter-spacing:  0.1;
	text-transform: uppercase;

	background-color: var(--basic-gray92);
}

.pagination-list a {
	color: var(--basic-black);
	opacity: 0.3;
}

.pagination-item-previous a,
.pagination-item-next a {
	opacity: 1;
}

.pagination-item-previous a:hover {
	background-color: var(--basic-gray85);
}

.pagination-item-previous a:focus {
	background-color: var(--basic-gray85);
}

.pagination-item-previous a:focus {
	opacity: 0.3;
}

.pagination-item-number a:hover {
	opacity: 0.6;
}

.pagination-item-number a:focus {
	opacity: 1;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
	opacity: 1;
}

.pagination-item-next a:hover {
	background-color: var(--basic-gray85);
}

.pagination-item-next a:focus {
	background-color: var(--basic-gray85);
	opacity: 0.3;
}



